@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-lg-8">
        <h2 style="padding-top:660px; text-align:center">@ViewBag.Title Us</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8" style="text-align:justify">
        <h4>Brief history</h4>
        <hr style="border-block-color:grey" />
        <p>
            The idea for a new aviation company, that is Nordic Airlines, arised in April 2020
            when a group of experienced people in the aviation and some other related fields combined
            their skills and decided to build a family. A family where every member is equally significant and equally treated.
            In 4 months, the company got registered and ready to start its jurney.
        </p>
        <p>
            The first plane took off on August 30, 2020 from "Skopje International Airport", earlier known as
            "Alexander The Great". Even though the Nordic Airlines is a new commpany in the aviations market, we offer over 200 destinations.
            So far, we have several bases:  Skopje in North Macedonia, Belgrade in Serbia, Vienna in Austria, London in The United Kingdom and
            Budapest in Hungary.
        </p>
        <p>
            After a year of its existence, Nordic Airlines is a serious competitor in the aviation market.
        </p>

    </div>

    <div class="col-md-4">
        <img src="~/Content/imgs/aviation-3.jpg" style="width: 400px; height: 250px" />
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-8" style="text-align:justify">
        <h4>Services</h4>
        <hr style="border-block-color:grey" />
        <p>
            Nordic Airlines is an aviation company that is novelty-oriented.
            Our purpose is to give the best experience to our costumers. We have included
            the newest technologies to ensure that the costumers are experiencing the best
            possible treatment when flying with us. We offer a no-ticket-fly which helps the costumers
            who always forget their tickets at home.
        </p>
        <p>
            Our planes, the best of the class, are made with the newest technology by some of the most respectable companies,
            such as Lufthansa Technik. This allows our costumers to enjoy during the flight.
        </p>


    </div>

    <div class="col-md-4">
        <img src="~/Content/imgs/airplane-seats-1.jpg" style="width: 400px; height: 230px" />
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-8" style="text-align:justify">
        <h4>Flight crew</h4>
        <hr style="border-block-color:grey" />
        <p>
            Our team, on the plane and on the ground, takes a good care of our clients. The make
            sure our clients are satisfied with our services. The Nordic Airlines Team sets high goals on this manner.
            We hire the best and the most talented and dedicated personnel from different countries all accross Europe.
            Our clients are in the hands of professionals.
        </p>
        <p>

        </p>
        <p>

        </p>

    </div>

    <div class="col-md-4">
        <img src="~/Content/imgs/flight-crew-1.jpg" style="width: 400px; height: 200px" />
    </div>
</div>
<br />
<hr style="border-block-color:lightgrey"/>
<br/>
<br/>

<div class="row">
    <div class="col-md-8" style="text-align:justify">
        <h4>Address of the company</h4>
        <hr style="border-block-color:grey" />
        <p>
            Nordic Airlines Macedonia Ltd.
        </p>
        <p>
            Highway "Alexander the Great" | Petrovec 1043 | North Macedonia
        </p>
        <p>
            <a href="mailto:info@nordic.com">info@nordic.com</a><br />
            Metropolitan court as a registration court, reg. num.: 01-10-142458<br />
            Tax number: 25548564-5-66<br />

        </p>

    </div>


    <div class="col-md-4">

        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=petrovec%201043%20international%20airport%20skopje&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/">divi discount</a><br>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 200px;
                        width: 400px;
                    }
                </style><a href="https://www.embedgooglemap.net">integrate google maps into website</a>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 200px;
                        width: 400px;
                    }
                </style>
            </div>
        </div>

    </div>
</div>
<br />

@section about{
    <style type="text/css">
        body {
            background-image: url('../../Content/imgs/aviation-1.jpg');
            background-size: 1920px 700px;
            background-repeat: no-repeat;
            margin: 0;
            background-color: #f5f5f5;
        }
    </style>
}
