@{
    ViewBag.Title = "flightStandard";
}

<div class="row" style="height:690px">
    <h1 style="text-align:center; color:white; padding-top:550px; font-size:50px">Welcome to safe flight experience</h1>
</div>

<div class="row" style="text-align:center">
    <h2>Guidelines for safe travel </h2>
    <p>
        As Nordc Airlines, our priority is to make sure that you, our dear guests,
        have a safe and comfortable journey.
    </p>
    <p>
        We want you to feel safe and comfortable during your travels. As the Macedonian
        national flag carrier, we have specified new criteria and taken new measures
        in all our procedures together with health authorities, drawing on the experience
        of North Macedonia's successful fight against the Covid-19 pandemic.
    </p>
    <p>
        We present you the guidelines for safe travel in this manual and wish you a pleasant flight.
    </p>
</div>

<br />
<br />
<br />
<hr style="border-color:darkgrey" />

<div style="text-align:center; background-color:lightgray; height:70px; border:solid 1px darkgrey; border-radius:5px">
    <h2>Before the flight </h2>
</div>

<hr style="border-color:darkgrey" />
<div class="row" style="background-color:white">
    <div class="col-md-4" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/online-check.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/arriving.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/check-in.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
</div>
<div class="row" style="text-align:center; background-color:white">
    <div class="col-md-4" style="width: 323px; height: 170px">
        <h3>Online check-in</h3>
        <p>
            We recommend that you complete your check-in online via either our mobile application
            or website in order to reduce your contact rate.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 170px">
        <h3>Arriving at the airport</h3>
        <p>
            In order to avoid any time loss due to additional measures taking at the airports,
            you are recommended to arrive at the airports at least 3 hours before your flight.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 170px">
        <h3>Check-in time</h3>
        <p>
            Please note that check-in procedures will end at least 60 minutes before the scheduled
            departure time for domestic flights and 75 minutes before international flights.
        </p>
    </div>
</div>

<br />
<hr style="border-color:darkgrey" />

<div style="text-align:center; background-color:lightgray; height:70px; border:solid 1px darkgrey; border-radius:5px">
    <h2>At the airport</h2>
</div>

<hr style="border-color:darkgrey" />



<div class="row" style="background-color:white">
    <div class="col-md-4" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/mask-use.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/physical-distance.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/hand-sanitizers.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
</div>
<div class="row" style="text-align:center; background-color:white">
    <div class="col-md-4" style="width: 323px; height: 160px">
        <h3>Mask use</h3>
        <p>
            Wearing a mask is obligatory at all points at the airport as of your entrance.
            Masks with one-way valves or vents are not allowed.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 160px">
        <h3>Physical distance</h3>
        <p>
            Lines are marked for your safe physical distance. You should keep a physical
            distance of at least 1.5 meters.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 160px">
        <h3>Hand sanitizers</h3>
        <p>
            Hand sanitizers are placed at passage points at the airports.
        </p>
    </div>
</div>
<div class="row" style="background-color:white">
    <div class="col-md-4" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/fever-check.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/protective-panes.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/equipment-for-personnel.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
</div>
<div class="row" style="text-align:center; background-color:white">
    <div class="col-md-4" style="width: 323px; height: 160px">
        <h3>Fever check</h3>
        <p>
            Please note that your body temperature will be measured at the airports in Turkey before your flight.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 160px">
        <h3>Protective panes</h3>
        <p>
            Panes are placed at all the counters in our service points, in order to keep a safe service distance between our employees and you.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 160px">
        <h3>Equipment for personnel</h3>
        <p>
            All personnel at the airport use masks and other necessary personal protective equipment.
        </p>
    </div>
</div>
<div class="row" style="background-color:white">
    <div class="col-md-4" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/no-contact-check.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/no-constact-self-check-in.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/automated-baggage-check-in.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
</div>
<div class="row" style="text-align:center; background-color:white">
    <div class="col-md-4" style="width: 323px; height: 160px">
        <h3>No-contact check-in</h3>
        <p>
            You can carry out your no-contact check-in and baggage check-in procedures at our counters
            without exchanging your passport or ID card.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 160px">
        <h3>No-contact self check-in</h3>
        <p>
            If you have a domestic flight, you can perform a no-contact check-in at our kiosks at the airport.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 180px">
        <h3>Automated baggage check-in</h3>
        <p>
            If you have acquired your boarding pass beforehand, you can check-in your baggage with no-contact
            at airports equipped with Automated Baggage Check-In kiosks.
        </p>
    </div>
</div>
<div class="row" style="text-align:center; background-color:white">
    <div class="col-md-4" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/passport-control.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-7 col-md-offset-1" style="padding-top:70px">
        <h3>Passport control</h3>
        <p>
            In order to keep physical distance at passport controls, lines are drawn at 1.5 meters intervals and
            necessary measures are taken to ensure these are kept to.
        </p>
    </div>
</div>


<br />
<hr style="border-color:darkgrey" />

<div style="text-align:center; background-color:lightgray; height:70px; border:solid 1px darkgrey; border-radius:5px">
    <h2>Boarding the aircraft </h2>
</div>

<hr style="border-color:darkgrey" />

<div class="row" style="background-color:white">
    <div class="col-md-4" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/equipment-for-employees.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/mask-use-1.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/no-contact-boarding.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
</div>
<div class="row" style="text-align:center; background-color:white">
    <div class="col-md-4" style="width: 323px; height: 170px">
        <h3>Equipment for employees</h3>
        <p>
            Before each flight, our cabin crews take a temperature check, and are provided with
            masks, glasses, gloves and personal protective equipment for in-flight use.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 170px">
        <h3>Mask use</h3>
        <p>
            You must wear a mask during all processes including boarding the aircraft.
            Masks with one-way valves or vents are not allowed.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 180px">
        <h3>No-contact boarding</h3>
        <p>
            Physical distancing rules must be followed while boarding the aircraft. Passengers will be
            called to the check point in small groups and all controls during boarding will be performed with no-contact.
        </p>
    </div>
</div>




<br />
<hr style="border-color:darkgrey" />

<div style="text-align:center; background-color:lightgray; height:70px; border:solid 1px darkgrey; border-radius:5px">
    <h2>On-board </h2>
</div>

<hr style="border-color:darkgrey" />

<div class="row" style="background-color:white">
    <div class="col-md-4" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/air-quality.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/thorough-cleaning.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/clean-air-flow.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
</div>
<div class="row" style="text-align:center; background-color:white">
    <div class="col-md-4" style="width: 323px; height: 170px">
        <h3>Air quality</h3>
        <p>
            During our flights, cabin air is constantly cleaned by hospital-standard HEPA filters. With this
            filtration system, the air is completely renewed about every 3 minutes.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 290px">
        <h3>Thorough cleaning</h3>
        <p>
            After each flight, all contact points in our aircraft including tray tables, armrests,
            belts, screens, controllers, overhead bins, air vents, reading lamps, side panels, windows, lavatories,
            partitions, magazine racks, decorative panels and cabinets are thoroughly disinfected by special teams.
            Our aircraft are disinfected once again by a two-stage special disinfection procedure called fogging upon their
            arrival at our hub, and made ready for their next flight.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 180px">
        <h3>Clean air-flow</h3>
        <p>
            The systems our aircraft equipped with release the clean air inside the cabin through air vents and withdraw
            it from the lower part of the cabin, sending it to HEPA filters and outside. Thus, the air inside the cabin
            does not travel horizontally between the seats.
        </p>
    </div>
</div>


<br />
<hr style="border-color:darkgrey" />

<div style="text-align:center; background-color:lightgray; height:70px; border:solid 1px darkgrey; border-radius:5px">
    <h2>Disembarking the aircraft</h2>
</div>

<hr style="border-color:darkgrey" />

<div class="row" style="background-color:white">
    <div class="col-md-4" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/disembarking.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/disembarking-1.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 265px; background-image: url('../../Content/imgs/controlled-baggage-claim.jpg'); background-size:323px 265px; background-repeat: no-repeat ">

    </div>
</div>
<div class="row" style="text-align:center; background-color:white">
    <div class="col-md-4" style="width: 323px; height: 170px">
        <h3>Disembarking</h3>
        <p>
            Exiting the aircraft will be conducted in line with announcements and directions from the cabin crew.
            To maintain social distance, passengers must wait while those from the rows in front of them disembark.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 290px">
        <h3>Disembarking</h3>
        <p>
            Disembarking the aircraft will be carried out via Passenger Boarding Bridges.
            The social distance arrangement is in place for shuttles to be used when required.


        </p>
    </div>
    <div class="col-md-4 col-md-offset-1" style="width: 323px; height: 180px">
        <h3>Controlled baggage claim</h3>
        <p>
            New regulations have been put in place for baggage claim process in order to reduce physical contact.
        </p>
    </div>
</div>


@section flightStandard{
    <style type="text/css">
        body {
            background-image: url('../../Content/imgs/plane-10.jpg');
            background-size: 1920px 700px;
            background-repeat: no-repeat;
            margin: 0;
            background-color: #f5f5f5;
        }
    </style>
}

